body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.container {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  align-content: center;
  flex-wrap: wrap;
}

.list-container {
  margin: 10px;
}

.list-container>h3 {}

.list {
  display: flex;
  flex-direction: column;
  align-content: flex-start;
  align-items: flex-start;
  justify-content: left;
  flex-wrap: wrap;

}

.list-item {
  position: inherit;
  list-style: none;
  color: whitesmoke;
  min-width: 200px;
  padding: 10px;
  margin: 0px;
  text-align: left;
}

ul {
  padding-inline-start: 0px;
}

.list-item:nth-child(2n - 1) {
  background-color: tan;
}

.list-item:nth-child(2n - 2) {
  background-color: lightpink;
}